@charset "utf-8";
/* CSS Document */
/*all css*/
	/* 修正IE5.x和IE6的斜体溢出bug */
	* html body{ overflow:visible;}
	* html iframe, * html frame{ overflow:auto;}
	* html frameset{ overflow:hidden;}
	body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0; border:0;}
	a{text-decoration:none;}
	input,select{vertical-align:middle;}
	/* 设置内容左对齐，恢复因BODY设置剧中产生的继承 */
	body div{ text-align:left;}
	/* 清除ul列表标记的样式，ul列表更多的用在不需要列表前置符号的样式里 */
	li{ list-style-type:none;}
	/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
	img{ border:0 none;}
	/* 定义H系列标签，覆盖H系列标签默认属性 */
	h1{font-size:24px;}
	h2{font-size:20px;}
	h3{font-size:16px;}
	h4{font-size:16px;}
	h5{font-size:14px;}
	h6{font-size:12px;}
	*{
		font-family:"微软雅黑";
		font-size:15px;
	}
	html{
		overflow-y:scroll;
		overflow-x:hidden;
	}
	
	
.userselect{
	height:40px;
	width:200px;
	margin-top:20px;
	font-size:16px;
	margin-left:10px;
}.userselect option{
	font-size:16px;
}

#userbox{
	margin:auto;
	width:1000px;
	height:100px;
	background-color:#00CCCC;
}#userbox #userinput{
	height:40px;
	width:300px;
	font-size:16px;
	margin-top:20px;
	margin-left:10px;
}#userbox #userbutton{
	height:47px;
	width:100px;
	font-size:16px;
	margin-top:20px;
}#userbox #usercheck{
	height:47px;
	width:100px;
	font-size:16px;
	margin-top:20px;
}#userbox #allcheck{
	height:47px;
	width:100px;
	font-size:16px;
	margin-top:20px;
}#userbox .userselect{
	margin-left:150px;
}

#eventbox{
	margin:auto;
	width:1000px;
	height:100px;
	margin-top:10px;
	background-color:#66CCFF;
}#eventbox #infoinput{
	height:40px;
	width:400px;
	font-size:16px;
	margin-top:20px;
	margin-left:10px;
}#eventbox #moneyinput{
	height:40px;
	width:200px;
	font-size:16px;
	margin-top:20px;
	margin-left:10px;
}#eventbox #finacebutton{
	height:47px;
	width:100px;
	font-size:16px;
	margin-top:20px;
	margin-left:10px;
}

#finacebox{
	margin:auto;
	width:1000px;
	padding:5px 0 0px 0;
	margin-top:10px;
	background-color:#6CC;
	margin-bottom:20px;
}

.finacebox_table{
	border-collapse:collapse;
	width:inherit;
	margin-bottom:40px;
	text-align:center;
}.finacebox_table td{
	border:3px #999999 dotted;
}.finacebox_table .title{
	border-collapse:collapse;
	border:3px #000 dashed;	
}.finacebox_table .title td{
	font-size:16px;
	border:3px #999999 dotted;
	
}